<div class="row" style="height: 30px">
</div>
<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2">
    </div>
    <div class = "col-md-8 col-sm-8 col-xs-8">
        <div>
            <form method="post">
                <div>
                    <label for="username"> id: </label>
                    <input type="text" id="name" ng-model="_id" />
                </div>
                <div>
                    <label for="password"> temptoken: </label>
                    <input type="password" id="password" ng-model="temptoken" />
                </div>
                <span>
                    <button ng-click="signin(_id, temptoken)"> Login </button>
                </span>
                <span>
                    <button ng-click="signout()"> Sign out </button>
                </span>
            </form>
        </div>
        <div ng-if="recipient">
            <h1> {{firstName}}!  You get to give a present to {{recipient}}! </h1>
            <h2> {{recipient}} has asked for: </h2>
            <p> {{recipientWishlist}} </p>
            <h2> Edit your wishlist: </h2>
            <textarea rows=6 cols=50 style="width: 100%" ng-model="wishlist" >

            </textarea>
            <button ng-click="save(wishlist)">Save wishlist!</button>
        </div>
    </div>
</div>
